
// Checkboxes

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 32px;
    line-height: 24px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
    border: 1px solid #97999B;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before {
  background-color: #6DCDF6;
  border-color: #6DCDF6;
}

input[type="checkbox"]:not(:checked) + label:before {
  background-color: #ffffff;
}

input[type="radio"]:checked + label:before {
    border-radius: 100%;
    border-color: #6DCDF6;
}
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 4px;
    top: 6px;
    width: 17px;
    height: 8px;
    border-radius: 0px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 6px;
    top: 6px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #6DCDF6;
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}

// Select

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6.80005L8 9.80005L11.5 6.80005' stroke='%23428FDE' stroke-width='1.5' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 16px);
  background-position-y: 50%;

  &.placeholder-shown {
    color: #818C99;
  }
  &.placeholder-hidden {
    color: #212529;
  }
}

// Search Input
.search-input {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.94 21.48L15.33 13.87C16.6015 12.2273 17.1995 10.1619 17.0024 8.09403C16.8053 6.02612 15.8279 4.11094 14.269 2.73802C12.7101 1.36509 10.6867 0.637534 8.61048 0.703321C6.53424 0.769108 4.56102 1.6233 3.09216 3.09216C1.6233 4.56102 0.769108 6.53424 0.703321 8.61048C0.637534 10.6867 1.36509 12.7101 2.73802 14.269C4.11094 15.8279 6.02612 16.8053 8.09403 17.0024C10.1619 17.1995 12.2273 16.6015 13.87 15.33L21.48 22.94L22.94 21.48ZM2.81998 8.89998C2.82393 7.69833 3.18387 6.52479 3.85435 5.52758C4.52483 4.53036 5.47577 3.75419 6.58709 3.29707C7.6984 2.83995 8.92026 2.7224 10.0983 2.95925C11.2764 3.1961 12.3579 3.77674 13.2062 4.62783C14.0545 5.47893 14.6316 6.56231 14.8646 7.74117C15.0976 8.92002 14.976 10.1415 14.5152 11.2513C14.0545 12.3611 13.2752 13.3095 12.2758 13.9767C11.2763 14.6439 10.1016 15 8.89998 15C8.10023 14.9987 7.30857 14.8398 6.5702 14.5326C5.83182 14.2253 5.1612 13.7756 4.59662 13.2092C4.03204 12.6428 3.58456 11.9707 3.27972 11.2313C2.97488 10.4919 2.81866 9.69973 2.81998 8.89998Z' fill='%2397999B'/%3E%3C/svg%3E%0A");
  }
}

input, textarea {
  &::placeholder {
    color: #818C99;
  }
}