.news-detail-page {
    padding: 72px 0;
    .container {
        display: flex;
        gap: 36px;
    }
}
.news-detail-page .section-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    section {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
}
.news-detail-page .discount {
    border-left: 4px solid rgb(66, 143, 222);
    padding: 0px 0px 0px 16px;
}
.news-detail-page .message {
    color: rgb(33, 37, 41);
    font-size: 18px;
    font-weight: 450;
    line-height: 1.5;
    letter-spacing: 0%;
    text-align: left;
}
.news-detail-page .text-container {
    margin: 12px 0px;

    .subtitle {
        color: rgb(33, 37, 41);
        font-size: 18px;
        font-weight: 450;
        line-height: 1.3;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 12px;
    }
    .text {
        margin: 0;
        color: rgb(33, 37, 41);
        font-size: 18px;
        font-weight: 450;
        line-height: 1.5;
        letter-spacing: 0%;
        text-align: left;
        span {
            color: rgb(0, 122, 194);
        }
    }
}
.news-detail-page .text-item {
    color: rgb(33, 37, 41);
    font-size: 18px;
    font-weight: 450;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.news-detail-page .text-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    color: rgb(33, 37, 41);
    font-size: 22px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 4px;
    background: rgb(222, 243, 255);
}
.news-detail-page .btns-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0 0 36px 0;
    gap: 20px;
    width: 100%;
    .btn {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        width: 275px;
        height: 40px;
        border: none;
        border-radius: 8px;
        background: rgb(109, 205, 246);
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 450;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.news-detail-page .advertising-card-item {
    display: flex;
    gap: 8px;
}
.news-detail-page .advertising-card-item img {
    width: 262px;
    height: 413px;
}
