.offices-page {
    padding: 72px 0;
    .container {
        display: flex;
        gap: 36px;
    }
}
.offices-page .sidebar {
}
.offices-page .section-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-grow: 1;
}
.offices-page .section-container section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.offices-page .section-container .card {
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    .title {
        color: rgb(33, 37, 41);
        font-size: 22px;
        font-weight: 450;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .description {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.offices-page .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    input {
        width: 292px;
        height: 44px;
        padding: 10px 16px 10px 16px;
        margin: 4px 0px;
        box-sizing: border-box;
        border: 1px solid rgb(141, 200, 232);
        border-radius: 8px;
        background: rgb(255, 255, 255);
        color: #999;
        transition: 0.2s;
        color: rgb(129, 140, 153);
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        outline: none;
    }
    .svg-container {
        position: absolute;
        left: 33%;
        top: 33%;
        transform: translateX(-50%, -50%);
    }
}
.offices-page .section-container .contact-card {
    display: flex;
    padding: 36px;
    gap: 36px;
    border-radius: 8px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    .left-section {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        gap: 24px;
        max-width: 392px;
        width: 100%;
        .left-section-title {
            color: rgb(33, 37, 41);
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 15%;
            text-align: left;
            text-transform: uppercase;
        }
        .address-text {
            color: rgb(33, 37, 41);
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
        }
    }
    .right-section {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
        padding: 0px;
        width: 300px;
        height: 106px;
        .phone-container {
            display: flex;
            .phone-title {
                width: 124px;
                color: rgb(33, 37, 41);
                font-size: 15px;
                font-weight: 450;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: left;
            }
            .phone-text {
                color: rgb(33, 37, 41);
                font-size: 15px;
                font-weight: 450;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
        .time-container {
            display: flex;
            .time-title {
                width: 124px;
                color: rgb(33, 37, 41);
                font-size: 15px;
                font-weight: 450;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: left;
            }
            .time-text {
                color: rgb(33, 37, 41);
                font-size: 15px;
                font-weight: 450;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
    }
}
