.aircraftsevice-page {
    padding: 72px 0;
    .container {
        display: flex;
        gap: 36px;
    }
}
.aircraftsevice-page .sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 24px;
    width: 324px;
    .sidebar-item {
        color: rgb(33, 37, 41);
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .sidebar-item:first-child {
        font-weight: 450;
    }
    @media (max-width: 1023px) {
        display: none;
    }
}
.aircraftsevice-page .section-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-grow: 1;
    width: 100%;
}
.aircraftsevice-page .section-container section {
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    .title {
        color: rgb(33, 37, 41);
        font-size: 22px;
        font-weight: 450;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
    }
    .description {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
    }
    a {
        color: rgb(0, 61, 165);
        font-weight: 500;
    }
}
.aircraftsevice-page .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
    .card {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        // max-height: 238px;
        padding: 24px;
        border-radius: 4px;
        background: rgb(222, 243, 255);
        display: flex;
        flex-direction: column;
        gap: 12px;
        .card-title {
            position: relative;
            color: rgb(33, 37, 41);
            font-size: 22px;
            font-weight: 450;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: left;
            width: 100%;
            // height: 24px;

            @media (max-width: 960px) {
                word-wrap: break-word;
            }
        }
        .card-description {
            position: relative;
            color: rgb(151, 153, 155);
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
            width: 100%;
            height: 20px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.aircraftsevice-page .card-image-last {
    padding: 24px;
    overflow: hidden;
    border-radius: 4px;
    background: rgb(222, 243, 255);
}
.aircraftsevice-page .card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.aircraftsevice-page .card-text-list .card-text-item {
    margin-left: 20px;
    color: rgb(33, 37, 41);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    list-style-type: initial;
    display: flex;
    align-items: center;
}

.aircraftsevice-page .card-text-list-num .card-text-item {
    margin-left: 20px;
    color: rgb(33, 37, 41);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    list-style-type: decimal;
}
.aircraftsevice-page .links {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 32px;
    @media (max-width: 619px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.aircraftsevice-page .links .link-item {
    color: rgb(33, 37, 41);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
}
.aircraftsevice-page .links .link-item svg {
    display: flex;
    align-items: center;
}
