.main-banner {
    // max-width: 2130px;
    // align-self: center;
}

.main-banner__wrapper {
    position: relative;
}

.main-banner__wrapper > .container {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding-bottom: 60px;
    display: flex;
    justify-content: end;
    transform: translateX(-50%);
    z-index: 9;

    @media (max-width: 991px) {
        justify-content: start;
    }
}

.main-banner__swiper {
}

.main-banner .swiper-wrapper {
}

.main-banner__item {
    position: relative;
    width: 100%;
    height: 500px;
}

.main-banner__item .container {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    align-items: end;
}

.main-banner .swiper-slide {
}

.main-banner__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (max-width: 991px) {
        //top: -110px;
        width: 130%;
    }
}

.main-banner__layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-banner__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (max-width: 991px) {
        // left: -100px;
    }
}

.main-banner__img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-banner__content {
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    // word-spacing: 2px;
    letter-spacing: 8px;

    @media (max-width: 991px) {
        padding-bottom: 64px;
    }
}

.main-banner .content__direction {
    font-size: 42px;
    margin-bottom: 6px;

    @media (max-width: 991px) {
        font-size: 28px;
    }
}

.main-banner .content__price {
    font-size: 28px;

    @media (max-width: 991px) {
        font-size: 24px;
    }
}

.main-banner .content__price span {
    font-weight: 500;
    font-family: 'Inter';
}

.main-banner .container {
}

.main-banner__block {
}

.main-banner__btns {
    display: flex;
    column-gap: 16px;
}

.main-banner__btn {
}

.main-banner__btn--prev,
.main-banner__btn--next {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-banner__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: auto !important;
}

.main-banner__btns .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 !important;
    border: 1px solid #ffffff;
    opacity: 1;
    background-color: transparent;
}

.main-banner__btns .swiper-pagination-bullet-active {
    background-color: #fff;
}

.main-banner__btn--prev {
}

.main-banner__btn--next {
    transform: rotate(180deg);
}

// Main panel

.main-panel {
    // position: relative;
    padding-bottom: 36px;
    z-index: 9;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));

    @media (max-width: 1023px) {
        padding-bottom: 30px;
    }

    @media (max-width: 575px) {
        padding-bottom: 5px;
    }
}

.main-panel button {
    background-color: transparent;
    border: none;
    outline: none;
}

.main-panel .container {
}

.main-panel .main-panel__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    // margin-top: -24px;
    padding: 36px 32px;
    background-color: #fff;
    
    border-top: 2px solid #6DCDF6;
    // @media (max-width: 767px) {
    // }
}

.main-panel .main-panel__top {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 18px;
}

.main-panel .main-panel-tablinks {
    font-size: 18px;
    color: #6DCDF6;

    @media (max-width: 767px) {
        font-size: 15px;
    }
}

.main-panel .main-panel-tablinks.active {
    color: #212529;
}

.main-panel__middle {
}

.main-panel .main-panel-tabcontent {
}

.main-panel .inputs__wrapper {
    display: grid;
    justify-content: center;
    grid-template-areas: "a b c d";
    row-gap: 24px;

    @media (max-width: 1208px) {
        justify-content: stretch;
        row-gap: 12px;
        grid-template-areas: "a a" "b b" "c c" "d d";
    }

    @media (max-width: 767px) {
        // justify-content: stretch;
        // grid-template-areas: "a" "b" "c" "d" "e";
    }

    @media (max-width: 575px) {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
}

.main-panel .input {
    min-width: 10px;
    padding: 14px 12px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #212529;
    border: 1px solid #97999B;
    outline: none;

    @media (max-width: 1208px) {
        flex-grow: 1;
        font-size: 16px;
    }
}

.main-panel .input::placeholder {
    color: #97999B;
    font-weight: 500;
    // opacity: 1;
}

.main-panel .inputs__group {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.main-panel .inputs__group:nth-child(1) {
    grid-area: a;

    @media (max-width: 575px) {
        flex-wrap: wrap;
        row-gap: 24px;
    }
}

.main-panel .inputs__group:nth-child(2) {
    grid-area: b;
}

.main-panel .inputs__group:nth-child(3) {
    grid-area: c;
}

.main-panel .inputs__group:nth-child(3) > * {
    @media (max-width: 767px) {
        flex: 1 1;
    }
}

.main-panel .inputs__group:nth-child(3) .input {
    width: 198px;
    border-left: none;
    border-radius: 0px 8px 8px 0px;

    @media (max-width: 1208px) {
        border-left: 1px solid #97999B;
        border-radius: 8px 8px 8px 8px;
    }

    @media (max-width: 767px) {
        width: 100%;
        border-radius: 12px 12px 12px 12px;
    }
}

.main-panel .inputs__group:nth-child(1) .input:nth-child(1) {
    width: 234px;
    border-radius: 8px 0 0 8px;

    @media (max-width: 1208px) {
        // max-width: 326px;
    }

    @media (max-width: 767px) {
        width: 100%;
        border-radius: 12px 0 0 12px;
    }

    @media (max-width: 575px) {
        width: calc(100% - 54px);
    }
}

.main-panel .inputs__group:nth-child(1) button:nth-child(2) {
    @media (max-width: 575px) {
        // width: 20%;
    }
}

.main-panel .inputs__group:nth-child(1) .input:nth-child(3) {
    width: 234px;
    border-right: none;

    @media (max-width: 1208px) {
        border-right: 1px solid #97999B;
        border-radius: 0px 8px 8px 0px;
    }

    @media (max-width: 767px) {
        width: 100%;
        border-radius: 0px 12px 12px 0px;
    }

    @media (max-width: 575px) {
        border-radius: 12px 12px 12px 12px;
    }
}

.main-panel .inputs__group:nth-child(2) .input:nth-child(1) {
    width: 164px;

    @media (max-width: 1208px) {
        width: 100%;
        border-radius: 8px 0px 0px 8px;
    }

    @media (max-width: 767px) {
        border-radius: 12px 0px 0px 12px;
    }

    @media (max-width: 575px) {
        border-radius: 12px 6px 6px 12px;
    }
}

.main-panel .inputs__group:nth-child(2) .input:nth-child(2) {
    width: 152px;

    @media (max-width: 1208px) {
        width: 100%;
        border-radius: 0px 8px 8px 0px;
    }

    @media (max-width: 767px) {
        border-radius: 0px 12px 12px 0px;
    }

    @media (max-width: 575px) {
        margin-left: -1px;
        border-left: 1px solid #97999B;
        border-radius: 6px 12px 12px 6px;
    }
}

.main-panel .inputs__group > .input + .input {
    border-left: none;
}

.main-panel .btn-exchange {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 100%;
    flex-shrink: 0;
    border-top: 1px solid #97999B;
    border-bottom: 1px solid #97999B;

    @media (max-width: 575px) {
        height: auto;
        border-right: 1px solid #97999B;
        border-radius: 0px 12px 12px 0px;
    }
}

.main-panel .inputs__btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 52px;
    height: 52px;
    margin-left: 10px;
    background-color: #6DCDF6;
    border-radius: 12px;
    grid-area: d;
    font-size: 16px;
    color: #ffffff;

    @media (max-width: 1208px) {
        width: 278px;
        margin-left: 0;
        justify-self: end;
    }

    @media (max-width: 575px) {
        width: auto;
        justify-self: stretch;
    }
}

.main-panel .inputs__btn-search span {
    display: none;

    @media (max-width: 1208px) {
        display: block;
    }
}

.main-panel .main-panel__bottom {
    display: flex;
    align-items: center;
    column-gap: 10px;
    
    @media (max-width: 1208px) {
        align-self: end;
    }

    @media (max-width: 575px) {
        align-self: start;
    }
}

.main-panel .main-panel__bottom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}

// Underline animation

.main-panel .main-panel__top>.main-panel-tablinks{
    // display: inline-block;
}

.main-panel .main-panel__top>.main-panel-tablinks {
    // display: block;
    padding-bottom: 8px;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;

    @media (max-width: 1280px) {
        // text-decoration: underline;
    }
}

.main-panel .main-panel__top>.main-panel-tablinks:before,
.main-panel .main-panel__top>.main-panel-tablinks:after {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 0%;
    height: 2px;
    background: #ED1C24;
    transition: all .3s ease;
}

.main-panel .main-panel__top>.main-panel-tablinks.active:before{
    right: 50%;
}

.main-panel .main-panel__top>.main-panel-tablinks.active:after{
    left: 50%;
}

.main-panel .main-panel__top>.main-panel-tablinks.active:before,
.main-panel .main-panel__top>.main-panel-tablinks.active:after{
    width: 50%;
}

.main-page-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.4;
    color: #212529;
    margin-bottom: 40px;
    letter-spacing: 2px;

    @media (max-width: 1208px) {
        font-size: 30px;
        margin-bottom: 36px;
    }
}

// Best deals section

.best-deals {
    // padding-top: 36px;
    // padding-bottom: 36px;

    // @media (max-width: 767px) {
    //     padding-top: 30px;
    //     padding-bottom: 30px;
    // }

    // @media (max-width: 575px) {
    //     padding-top: 5px;
    //     padding-bottom: 25px;
    // }
}

.best-deals .container {
    overflow: hidden;
    padding-top: 36px;
    padding-bottom: 36px;

    @media (max-width: 1208px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.best-deals__title {
    margin-bottom: 20px;
}

.best-deals__text {
    font-size: 24px;
    font-weight: 500;
    color: #212529;
    margin-bottom: 36px;

    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.best-deals__slider {
    overflow: visible;
}

.best-deals .swiper {
}

.best-deals .swiper-wrapper {
    height: 528px;
    // gap: 20px;

    @media (max-width: 991px) {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        height: auto;
        gap: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a a" "b c" "d e";
    }
}

.best-deals .best-deals__card {
    position: relative;
    // width: 374px !important;
    height: 254px !important;
    margin-right: 24px !important;
    padding: 32px;
    color: #212529;
    background-color: #fff;
    // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
    opacity: 0;

    @media (max-width: 1208px) {
        padding: 24px 16px;
    }

    @media (max-width: 991px) {
        display: none;
        // flex-grow: 1;
        opacity: 1;
        height: 295px !important;
        // max-width: 247px;
        margin-right: 0 !important;
        min-width: 100px;
        filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.1));
    }
}

.best-deals .best-deals__card:nth-child(1) {
    height: 528px !important;

    @media (max-width: 991px) {
        display: block;
        grid-area: a;
        min-width: 100%;
        height: 295px !important;
    }
}

.best-deals .best-deals__card:nth-child(2) {
    @media (max-width: 991px) {
        display: block;
        grid-area: b;
    }
}

.best-deals .best-deals__card:nth-child(3) {
    @media (max-width: 991px) {
        display: block;
        grid-area: c;
    }
}

.best-deals .best-deals__card:nth-child(4) {
    @media (max-width: 991px) {
        display: block;
        grid-area: d;
    }
}

.best-deals .best-deals__card:nth-child(5) {
    @media (max-width: 991px) {
        display: block;
        grid-area: e;
    }
}

.best-deals .swiper .swiper-slide-visible {
    opacity: 1;
}

.best-deals .best-deals__card:nth-child(even) {
    margin-top: 0 !important;
    margin-bottom: 20px;

    @media (max-width: 575px) {
        margin-bottom: 0 !important;
    }
}

.best-deals .swiper-slide {
}

.best-deals .card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.best-deals .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best-deals .card__content {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.best-deals .card__text {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-weight: 500;
}

.best-deals .card__text-to {
    font-size: 24px;

    @media (max-width: 575px) {
        font-size: 18px;
    }
}

.best-deals .card__text-from {
    font-size: 18px;

    @media (max-width: 575px) {
        font-size: 16px;
    }
}

.best-deals .card__price {
    font-size: 24px;
    color: #6DCDF6;

    @media (max-width: 575px) {
        font-size: 18px;
    }
}

.best-deals .card__price span{
    font-family: Inter;
}

.best-deals__slider-btns {
    position: absolute;
    top: -135px;
    right: 0;
    display: flex;
    column-gap: 16px;

    @media (max-width: 991px) {
        display: none;
    }
}

.best-deals__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.best-deals__btn--prev {
}

.best-deals__btn--next {
    transform: rotate(180deg);
}

.best-deals .swiper-button-disabled {
    opacity: 0.3;
}

// Additional services section

.additional {
    // padding-top: 36px;
    // padding-bottom: 36px;

    // @media (max-width: 767px) {
    //     padding-top: 30px;
    //     padding-bottom: 30px;
    // }

    // @media (max-width: 575px) {
    //     padding-top: 25px;
    //     padding-bottom: 25px;
    // }
}

.additional .container {
    position: relative;
    overflow: hidden;
    padding-top: 36px;
    padding-bottom: 36px;

    @media (max-width: 1208px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.additional__title {
    margin-bottom: 20px;
}

.additional__text {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    color: #212529;
    margin-bottom: 36px;

    @media (max-width: 1208px) {
        font-size: 16px;
        line-height: 1.5;
    }
}

.additional__slider {
    overflow: visible;
}

.additional .swiper {
}
.additional .swiper-wrapper {
}

.additional__card {
    position: relative;
    width: 275px;
    height: 360px;
    padding: 32px;
    color: #212529;
    background-color: #fff;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
    opacity: 0;

    @media (max-width: 1208px) {
        padding: 24px 16px;
        opacity: 1;
        filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.1));
    }
    
    @media (max-width: 767px) {
        height: 330px;
    }

    @media (max-width: 565px) {
        height: 302px;
    }
}

.additional .swiper .swiper-slide-visible {
    opacity: 1;
}

.additional .swiper-slide {
}

.additional .card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.additional .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.additional .card__content {
    position: relative;
}

.additional .card__price {
    font-size: 14px;
    font-weight: 500;

    @media (max-width: 767px) {
        font-size: 12px;
    }
}

.additional .card__price span {
    font-family: Inter;
}

.additional .card__text {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.additional__slider-btns {
    position: absolute;
    top: 50px;
    right: 24px;
    display: flex;
    column-gap: 16px;

    @media (max-width: 767px) {
        display: none;
    }
}

.additional__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.additional__btn--prev {
}

.additional__btn--next {
    transform: rotate(180deg);
}

.additional .swiper-button-disabled {
    opacity: 0.3;
}

// Stock section

.stock {
    padding-top: 36px;
    padding-bottom: 36px;

    @media (max-width: 1208px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.stock .container {
    position: relative;
    // overflow: hidden;
}

.stock__title {
}

.stock__slider {
    // overflow: visible;
}

.stock .swiper {
}

.stock .swiper-wrapper {
    height: 600px;

    @media (max-width: 767px) {
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
}

.stock__card {
    position: relative;
    width: 576px;
    height: 296px;
    padding: 32px;
    color: #212529;
    background-color: #fff;

    @media (max-width: 1208px) {
        // display: none;
        width: 100%;
        padding: 24px 16px;
    }

    @media (max-width: 767px) {
        display: none;
        width: 100%;
    }
}

.stock__card:nth-child(1),
.stock__card:nth-child(2),
.stock__card:nth-child(3),
.stock__card:nth-child(4) {
    @media (max-width: 767px) {
        display: block;
    }
}

.stock__card:nth-child(2) .card__title,
.stock__card:nth-child(2) .card__text,
.stock__card:nth-child(3) .card__title,
.stock__card:nth-child(3) .card__text {
    color: #ffffff;
}

.stock .swiper-slide {
}

.stock .card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stock .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stock .card__content {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    row-gap: 24px;
    max-width: 328px;
    line-height: 1.3;

    @media (max-width: 991px) {
        row-gap: 16px;
        max-width: unset;
        width: 100%;
    }
}

.stock .card__title {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 1208px) {
        font-size: 18px;
    }
}

.stock .card__text {
    font-size: 18px;
    flex-grow: 1;

    @media (max-width: 1208px) {
        font-size: 16px;
    }
}

.stock .card__btn {
    align-self: start;
    display: block;
    padding: 10px 32px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    background-color: #fff;

    @media (max-width: 991px) {
        width: 100%;
        text-align: center;
    }
}

.stock__slider-btns {
    position: absolute;
    top: 20px;
    right: 24px;
    display: flex;
    column-gap: 16px;

    @media (max-width: 767px) {
        display: none;
    }
}

.stock__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.stock__btn--prev {
}

.stock__btn--next {
    transform: rotate(180deg);
}

.stock .swiper-button-disabled {
    opacity: 0.3;
}

// Diamond mile section

.diamond-mile {
    padding-top: 36px;
    padding-bottom: 36px;

    @media (max-width: 1208px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.diamond-mile .container {
}

.diamond-mile__title {
    margin-bottom: 32px;
}

.diamond-mile__content {
    position: relative;
    // height: 180px;
    display: flex;
    justify-content: end;
    padding: 24px 32px;
    color: #ffffff;

    @media (max-width: 1208px) {
        flex-direction: column;
        row-gap: 24px;
    }

    @media (max-width: 767px) {
        padding: 24px 16px;
    }

    @media (max-width: 575px) {
        height: 401px;
    }
}

.diamond-mile__cards {
    position: absolute;
    top: 50%;
    left: 34px;
    display: flex;
    transform: translateY(-50%);
    z-index: 9;

    @media (max-width: 1208px) {
        position: static;
        transform: unset;
    }

    @media (max-width: 575px) {
        position: absolute;
        top: 36px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.diamond-mile__cards > *:not(:first-child) {
    margin-left: -225px;

    @media (max-width: 575px) {
        margin-left: -230px;
    }
}

.diamond-mile__card {
    width: 337px;
    height: 214px;

    @media (max-width: 1208px) {
        width: auto;
        height: auto;
    }

    @media (max-width: 575px) {
        width: 277px;
        height: 175px;
    }
}

.diamond-mile__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.diamond-mile__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.diamond-mile__content-block {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    height: 100%;
    width: 494px;

    @media (max-width: 1208px) {
        width: 100%;
        align-items: center;
        // width: calc(494px - (1096px - 100%));
    }

    @media (max-width: 575px) {
        justify-content: end;
    }
}

.diamond-mile__content-title {
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 767px) {
        align-self: start;
    }

    @media (max-width: 575px) {
        font-size: 18px;
    }
}

.diamond-mile__text {
    font-size: 18px;
    flex-grow: 1;

    @media (max-width: 767px) {
        align-self: start;
    }

    @media (max-width: 575px) {
        font-size: 16px;
        flex-grow: 0;
    }
}

.diamond-mile__btn {
    align-self: start;
    display: block;
    margin-top: 20px;
    padding: 10px 32px 8px 32px;
    font-size: 18px;
    font-weight: 500;
    color: #212529;
    background-color: #fff;
    border-radius: 40px;

    @media (max-width: 1208px) {
        align-self: unset;
    }

    @media (max-width: 575px) {
        width: 100%;
        text-align: center;
    }
}

// Partner offers section

.offers {
    padding-top: 36px;
    padding-bottom: 36px;
    overflow: hidden;

    @media (max-width: 1208px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.offers .container {
    position: relative;
}

.offers__title {
}

.offers .main-page-title {
    margin-bottom: 32px;
}

.offers__slider {
}

.offers .swiper {
    overflow: visible;
}

.offers .swiper-wrapper {
}

.offers__card {
    width: 340px;
    height: 370px;
    padding: 32px;
    background-color: #fff;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));

    @media (max-width: 1208px) {
        height: 342px;
        padding: 24px 16px;
    }

    @media (max-width: 767px) {
        height: 342px;
        filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.1));
    }
}

.offers .swiper-slide {
}

.offers .card__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    color: #212529;
    line-height: 1.3;
}

.offers .card__img-top {
}

.offers .card__title {
    // height: 63px;
    font-size: 24px;
    font-weight: 500;
    // line-height: 1.3;

    @media (max-width: 1208px) {
        font-size: 22px;
    }

    @media (max-width: 991px) {
        font-size: 20px;
    }

    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.offers .card__text {
    font-size: 18px;
    flex-grow: 1;

    @media (max-width: 991px) {
        font-size: 16px;
    }
}

.offers .card__img-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    align-self: end;
    background-color: #6DCDF6;
    border-radius: 50%;
}

.offers__slider-btns {
    position: absolute;
    top: 20px;
    right: 24px;
    display: flex;
    column-gap: 16px;

    @media (max-width: 767px) {
        display: none;
    }
}

.offers__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.offers__btn--prev {
}

.offers__btn--next {
    transform: rotate(180deg);
}

.offers .swiper-button-disabled {
    opacity: 0.3;
}

//Information section

.information {
}

.information .container {
    overflow: hidden;
    padding-top: 36px;
    padding-bottom: 36px;

    @media (max-width: 1208px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.information__title {
}

.information .main-page-title {
    margin-bottom: 32px;
}

.information__slider {
    overflow: visible;
}

.information__cards {
    display: flex;
    column-gap: 20px;
}

.information__cards > * {
    flex: 1 1;
}

.information__card {
    display: flex;
    flex-direction: column;
    height: 168px;
    padding: 24px;
    font-size: 18px;
    color: #212529;
    background-color: #fff;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));

    @media (max-width: 1208px) {
        padding: 24px 16px;
    }

    @media (max-width: 767px) {
        filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.1));
    }
}

.information .card__text {
    flex-grow: 1;
    font-weight: 500;
    line-height: 1.3;
}

.information .card__btn {
    align-self: start;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.information .card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

// Last news section

.last-news {
    // padding-top: 36px;
    // padding-bottom: 36px;

    // @media (max-width: 767px) {
    //     padding-top: 30px;
    //     padding-bottom: 30px;
    // }

    // @media (max-width: 575px) {
    //     padding-top: 24px;
    //     padding-bottom: 24px;
    // }
}

.last-news .container {
    position: relative;
    overflow: hidden;
    padding-top: 36px;
    padding-bottom: 108px;

    @media (max-width: 1208px) {
        padding-top: 24px;
        padding-bottom: 48px;
    }

    @media (max-width: 575px) {
        padding-top: 24px;
        padding-bottom: 72px;
    }
}

.last-news__title {
}

.last-news__slider-btns {
    position: absolute;
    top: 20px;
    right: 24px;
    display: flex;
    column-gap: 16px;

    @media (max-width: 767px) {
        display: none;
    }
}

.last-news__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.last-news__btn--prev {
}

.last-news__btn--next {
    transform: rotate(180deg);
}

.last-news__slider {
}

.last-news .swiper {
    overflow: visible;
}

.last-news .swiper-wrapper {
}

.last-news__card {
    display: flex;
    flex-direction: column;
    width: 373px;
    height: 390px;
    line-height: 1.3;
    color: #212529;
    background-color: #fff;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
    opacity: 0;

    @media (max-width: 767px) {
        filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.1));
    }
}

.last-news .swiper .swiper-slide-visible {
    opacity: 1;
}

.last-news .swiper-slide {
}

.last-news .card__img-top {
    width: 100%;
    height: 123px;
}

.last-news .card__img-top img {
    height: 123px;
    width: 100%;
    object-fit: cover;
}

.last-news .card__content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    height: 100%;
    padding: 32px;

    @media (max-width: 1208px) {
        padding: 24px 16px;
    }
}

.last-news .card__title {
    font-size: 24px;
    font-weight: 500;
}

.last-news .card__text {
    flex-grow: 1;
    font-size: 15px;
}

.last-news .card__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.last-news .card__date {
    font-size: 14px;
    color: #818C99;
}

.last-news .card__img-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.last-news .swiper-button-disabled {
    opacity: 0.3;
}