.main-banner {
    max-width: 2130px;
}

.main-banner__wrapper {
    position: relative;
}

.main-banner__wrapper > .container {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: end;
    transform: translateX(-50%);
    z-index: 9;
}

.main-banner__swiper {
}

.main-banner .swiper-wrapper {
}

.main-banner__item {
    position: relative;
    width: 100%;
    height: 500px;
}

.main-banner__item .container {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    align-items: end;
}

.main-banner .swiper-slide {
}

.main-banner__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 123%;
}

.main-banner__layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-banner__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-banner__img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-banner__content {
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    // word-spacing: 2px;
    letter-spacing: 8px;
}

.main-banner .content__direction {
    font-size: 42px;
    margin-bottom: 6px;
}

.main-banner .content__price {
    font-size: 28px;
}

.main-banner .content__price span {
    font-weight: 500;
    font-family: 'Inter';
}

.main-banner .container {
}

.main-banner__block {
}

.main-banner__btns {
    display: flex;
}

.main-banner__btn {
}

.main-banner__btn--prev,
.main-banner__btn--next {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-banner__btn--prev {
}

.main-banner__btn--next {
    transform: rotate(180deg);
}