.main-banner {
}

.main-banner__wrapper {
}

.main-banner__swiper {
}

.main-banner .swiper-wrapper {
}

.main-banner__item {
    position: relative;
    width: 100%;
    height: 500px;
}

.main-banner .swiper-slide {
}

.main-banner__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.main-banner__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-banner__img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-banner__content {
}

.main-banner .content__top {
}

.main-banner .content__bottom {
}

.main-banner .container {
}

.main-banner__block {
}

.main-banner__btns {
}

.main-banner__btn {
}

.main-banner__btn--prev {
}

.main-banner__btn--next {
}