/* 
.sidebar {
    // padding-left: 20px;

    @media (max-width: 1280px) {
        display: none;
    }
}

.sidebar__menu {
    padding-top: 20px;
    padding-bottom: 20px;
    // padding-left: 20px;
}

.sidebar-menu__list {
    display: flex;
    flex-direction: column;
    // row-gap: 32px;
}

.sidebar-menu__item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-left: 1px solid #A6C6E3;
}

.sidebar-menu__item.active {
    padding-left: 19px;
    border-left: 2px solid #005291;
}

.sidebar-menu__item a {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 1;
    color: #4E4E5B;
    transition: 0.3s;
}

.sidebar-menu__item a:hover {
    color: #000000;
}

.sidebar-menu__item.active a {
    color: #005291;
}

.sidebar-menu__item.active a:hover {
    color: #00335a;
}
*/

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 324px;

    .sidebar__menu {
        font-size: 18px;
        color: #212529;

        a {
            color: #212529;
        }

        .sidebar-menu__title {
            font-weight: 450;
            margin-bottom: 24px;
        }
    }
    
    .sidebar-menu__list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .sidebar-menu__item {
            line-height: 1.3;

            &.active a {
                color: #428FDE;
            }
        }
    }

    @media (max-width: 1023px) {
        display: none;
    }
}
