<div class="flex md:shadow-[0px_8px_16px_0px_rgba(0,0,0,0.05)] bg-white relative overflow-hidden h-[254px]">
  <picture class="flex absolute top-0 bottom-0 w-full h-full left-0 right-0">
    <source srcset="./img/stock-01.jpg" media="(max-width: 767px)">
    <source srcset="./img/stock-02.jpg" media="(max-width: 1200px)">
    <img src="@@img" alt="" class="flex w-full h-full object-cover">
  </picture>
  <a href="" class="flex w-full flex-col p-[32px] gap-[24px] relative">
    <div class="*:text-[#212529] *:font-[400] flex flex-col gap-[8px]">
      <span class="text-[24px] leading-[32px]">@@title</span>
      <span class="text-[18px] leading-[22px]">@@subtitle</span>
    </div>
    <span class="text-[#6DCDF6] font-[400] text-[24px] leading-[32px]">от @@value ₽</span>
  </a>
</div>